/****************************
 * General
 */

h1, h2, h3, h4, h5, h6 {
  font-family: "anisette-petite-sc", sans-serif;
  margin-top: 0;
  margin-bottom: 1em;
}

p:first-child, 
h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child {
  -webkit-margin-before: 0;
}

ul {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

body       { color: #444; }
a          { color: #44d; }
a:visited  { color: #64a; }

.inputtext { width: 40em; }

img { border-radius: 6px; }

* { box-sizing: border-box; }


/****************************
 * Top level
 */

html, body { 
  height: 100%; 
  overflow: auto; 
}

body {
  font-family: "myriad-pro",sans-serif;
  font-size: 95%;

  background-image: url("/images/backplate.jpg") ;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: black;
}

main {
  display: block;
  background-color: #ffffe8;
}

.contentwidth {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}


/****************************
 * Table layout
 */

.contenttable {
  display: table;
  border-spacing: 2em;
}

.innertable {
  display: table;
  border-spacing: 0;
}

.contenttable section {
  display: table-row;
}

.contenttable .spacer,
.contenttable article,
.contenttable aside {
  display: table-cell;
  vertical-align: top;
}

.spacer { width: 16px; }
.widespacer { width: 40px; }

.split { width: 50%; }


/****************************
 * Header / Title area
 */

header {
  background: linear-gradient(#aa8, #dda 0.5em) left repeat;
  font-family: "museo",serif;
  margin-top: 10em;
  padding: 0;
  height: 120px;
}
header.home { margin-top: 16em; }
header a { text-decoration: none; }

#title { 
  position: relative;
  top: -1em;
  margin-bottom: -1em;
  font-size: 1.72em;
  text-align: center;
  border: 3px #664 solid;
  width: 10em;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffe8;
  border-radius: 6px;
  padding-top: 0.32em;
  padding-bottom: 0.0em;
}

#name, #business, #bullet {
  color: #511;
  display: inline-block;
  margin-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#business {
  color: #744;
}

#byline {
  text-align: center;
  font-size: 1.6em;
  padding-top: 0.3em;
}


/****************************
 * Navigation
 */

nav {
  font-family: "anisette-petite-sc",sans-serif;
  text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

nav li {
    display: inline-block;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-top: 1.3em;
  }

nav a, nav a:visited { color: #444; }
nav a       { background-color: #cc7; }
nav a.on    { background-color: #cca; }
nav a:hover { background-color: #ffffab; }

nav a {
    border: 1px solid #998;
    padding: 0.18em 0.45em;
    border-radius: 6px;
    text-decoration: none;
  }
}


/****************************
 * Content section
 */

section {
  font-size: 96%;
}

section nav li      { margin-top: 0; }
section nav li a    { background-color: #eeb; }
section nav li a.on { background-color: #cca; }

.illustration { width: 280px; }
aside img { width: 280px; }
#map { width: 400px; }

.kilnlog img {
  width: 512px;
}


/****************************
 * Footer
 */
footer {
  background: #d8d8c5;
  font-size: 90%;
}
footer article {
  width: 460px;
}


/****************************
 * Slider
 */

.gallery {
  margin-right: auto;
  margin-left: auto;
}
.gallery img {
  width: 600px;
}