<h3>
  Current Schedule:
</h3>
<div class='innertable'>
  <aside>
    <p>
      January 19 to January 25
    </p>
    <ul>
      <li>Monday: Closed</li>
      <li>Tuesday: Open 12 to 4:30</li>
      <li>Wednesday: Open 12 to 4</li>
      <li>Thursday: Open 12 to 4:30</li>
      <li>Friday: Closed (on the road)</li>
      <li>Saturday: Closed (on the road)</li>
    </ul>
  </aside>
  <div class='widespacer'>&nbsp;</div>
  <aside>
    <p>
      January 26 to February 1
    </p>
    <ul>
      <li>Monday: Closed</li>
      <li>Tuesday: Open 12 to 4:30</li>
      <li>Wednesday: Open 12 to 4</li>
      <li>Thursday: Open 12 to 4:30</li>
      <li>Friday: Open 12 to 4:30</li>
      <li>Saturday: Open 12 to 4:30</li>
    </ul>
  </aside>
</div>
