<h3>
  Current Schedule:
</h3>
<div class='innertable'>
  <aside>
    <p>
      December 29 to January 4
    </p>
    <ul>
      <li>Monday: Closed</li>
      <li>Tuesday: Closed</li>
      <li>Wednesday: Closed</li>
      <li>Thursday: Open 11 to 4:30</li>
      <li>Friday: Open 11 to 5</li>
      <li>Saturday: Closed</li>
    </ul>
  </aside>
  <div class='widespacer'>&nbsp;</div>
  <aside>
    <p>
      January 5 to January 11
    </p>
    <ul>
      <li>Monday: Closed</li>
      <li>Tuesday: Open 12 to 4:30</li>
      <li>Wednesday: Open 12 to 4</li>
      <li>Thursday: Open 12 to 4:30</li>
      <li>Friday: Open 12 to 4:30</li>
      <li>Saturday: Open 12 to 4:30</li>
    </ul>
  </aside>
</div>
