<h3>
  Current Schedule:
</h3>
<div class='innertable'>
  <aside>
    <p>
      December 15 to December 21
    </p>
    <ul>
      <li>Monday: Closed</li>
      <li>Tuesday: Open 12 to 4</li>
      <li>Wednesday: Open 12 to 4</li>
      <li>Thursday: Open 11 to 4:30</li>
      <li>Friday: Open 11 to 5</li>
      <li>Saturday: Open 11 to 5</li>
    </ul>
  </aside>
  <div class='widespacer'>&nbsp;</div>
  <aside>
    <p>
      December 22 to December 28
    </p>
    <ul>
      <li>Monday: Open 11 to 5 (<strong>Last chance!</strong>)</li> 
      <li>Tuesday thru Saturday: Closed</li>
    </ul>
    <p>I'll be back in the studio on <br/>
    Thursday, January 2, 2014.</p>
    <p>Merry Christmas and Happy New Year!</p>
  </aside>
</div>